@model Expense

<h2>@ViewBag.Action An Expense</h2>

<form asp-action="AddExpense" method="post">
    <input type="hidden" asp-for="ExpenseId" />
    <div>
        <label asp-for="Amount" class="form-label">Expense Amount</label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="CategoryId" class="form-label">Category Name</label>
        <select asp-for="CategoryId" class="form-select" required>
            <option value="">--Select A Category--</option>
            @foreach (var category in ViewBag.Categories)
            {
                <option value="@category.CategoryId">@category.CategoryName</option>
            }
        </select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="IsRecurring" class="control-label"></label>
        <input asp-for="IsRecurring" class="form-check-input" type="checkbox" />
        <span asp-validation-for="IsRecurring" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="ExpenseDate" class="form-label">Expense Date</label>
        <input asp-for="ExpenseDate" class="form-control" type="date" />
        <span asp-validation-for="ExpenseDate" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">@ViewBag.Action</button>
    <a asp-action="IndexExpense" asp-controller="Expense" class="btn btn-primary">Cancel</a>
</form>